<div class="table-container">
    <table class="futuristic-table">
        <tr>
            <th *ngFor="let column of columns" class="table-header" (click)="onHeaderClick(column.key)">{{column.label}}
            </th>
        </tr>
        <tr *ngFor="let row of rows" [ngClass]="getRowEntryClassName(row.id)" (click)="onRowClick(row)">
            <td>{{row.id}}</td>
            <td>{{row.artist}}</td>
            <td>{{row.title}}</td>
            <td>{{row.genre}}</td>
            <td [ngClass]="getClassForStarredColumn(row.starred)" (click)="star(row)"></td>
            <td>{{row.created | date: 'short' }}</td>
            <img src="https://www.pngmart.com/files/16/Trash-Clipart-Transparent-Background.png"
                *ngIf="selectedRow === row" (click)="removeRow(row.id)" class="remove" />
        </tr>
    </table>
</div>